* {
    border: none;
    box-sizing: border-box;
}

@font-face {
    font-family: geographedit;
    src: url(geograph/geographeditwebbold.ttf);
    src: url(geograph/geographeditwebmedium.ttf);
    src: url(geograph/geographeditwebregular.ttf);
  }

img {
    height: auto;
    width: 100%;
  }

body{
    height: 100vh;
    margin: 0;
    display: block;
    background-color: black;
    color: white;
    font-family: geographedit;
}

main{
    padding: 100px;
    display: block;
    border: 15px solid #FAD749;
}

main .container{
    padding-bottom: 10px;
    padding-top: 95px;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.col_1{
    width: 100%;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

h1{
    font-weight: 600;
    font-size: 60px;
    margin: 0;
    letter-spacing: 2px;
}

h2{
    display: inline-block;
    margin: 0;
    font-weight: 500;
}

h3{
    font-weight: 400;
}

a{
    color: #FAD749;
}

#intro .col_1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#information .col_1{
    margin-bottom: 35px;
}

#information h2 span, #howItWorks h2 span, h1 span{
    text-decoration: underline;
    text-decoration-color: #FAD749;
}

#infoBlock{
    align-items: flex-start;
}

.col_1_3{
    width: 25%;
    height: auto;
    padding: 20px;
}

#howItWorks .col_1{
    margin-bottom: 35px;
}

#howItWorks .col_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
    .flex-container{
        flex-direction: column;
    }
    .col_1_3{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 220%;
        justify-self: left;
        margin: 0 40px 0 40px;
    }
}